*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
 }

 body {  
    background-color: rgb(253, 239, 255);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 1200px;
    height: 100px;
    padding: 25px;
}

a {
    text-decoration: none;
    color: black;
}

svg {
    transition: 500ms;
}

svg:hover {
    color: #1268f1;
    cursor: pointer;
    transition: 500ms;
}

header #logo:hover {
    cursor: default;
}


/*SEÇÃO PRINCIPAL*/
main {
    height: 85%;
    width: 1800px;
    background-color: #eebefa;
    padding: 30px;
    border-radius: 20px;
    display: flex;
}

.psicologos-sec {
    background-color: #4dabf7;
    width: 500px;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
}

h1 {
    margin-left: 10px;
}

.not-for-this:hover {
    cursor: default;
    color: black;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 20px;
    transition: 500ms;
}

.psicologos-sec .profile:hover {
    background-color: #1268f1;
    cursor: pointer;
    transition: 500ms;
}

.mensagens-sec {
    background-color: #eebefa;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
}

.mensagens-sec form {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    height: 609px;
}

.call-style {
    margin-left: 900px;
}